* {
	margin: 0 auto;
	padding: 0;
}

.header {
	width: 100%;
	background-image: url('/src/images/bg.jpg');
	background-position: center;
	background-size: cover;
	height: 730px;
	text-align: center;
}

.header .row_header {
	text-align: center;
	margin: 20% 0;
	padding-left: 20%;
}

.header .row_header .col {
	display: inline-block;
}

.datePicker {
	height: 80%;
	background-color: tomato;
}
.card_container {
	background-color: rgba(44, 130, 176, 0.57);
	width: 100%;
	height: 90%;
	padding: 5%;
}

.card {
	margin: 0 2%;
	padding: 0 3%;
}

.toproutes {
	padding: 2%;
}
